.login{
    max-width: 600px;
    margin: 0 auto;
}

.login h3{
    font-weight: bold;
    text-align: center;
}

.login label, 
.login input {
    display: block;
    /* this moves the labels and the inputs on different lines */
}

.login .links a{
    display: block;
    /* so actually display blocks makes the elements to be block elements */
    padding-bottom: 1em;
}

.login input[type="text"],
.login input[type="password"]{
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    border-radius: 1em; 
    /* border-radius makes the angles oval */
}

.login label {
    color: #999;
    padding-bottom: 1em;
}