body {
    background: url('../images/background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-footer {
    margin-top: auto;
}
