* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.container {
    border: 2px solid #000;
    margin-bottom: 2em;
    min-height: 10em;
    padding: 1em;
}

.box {
    min-height: 2em;
    background: rgba(221, 160, 221, 0.495);
}

p {
    padding-bottom: 2em;

}

/* When the position is RELATIVE the box moves down but its place from the upp er side 
remains unoccupied with other elements, also the place below the box where the Lorem
text is overlaps with the new position of the box */
.p-relative .box {
    position: relative;
    top: 1em;
    left: 0
        /* this moved the purple box in the relative div 1em */
}

.p-absolute {
    position: relative
}

/* Its size depends on the content that it holds, 
if there is no content, the box won't appear visible.
This element will appear where the position is relative or
absolute, or if it does not find one, if will appear at the top of the body */
.p-absolute .box {
    position: absolute;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    inset: 1em;
    */
    inset: 0;
}

/* Always stays in our viewport, commented it so the sticky demo will work*/
/* .p-fixed .box {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
} */

/* Sticky sticks the element wherever we tell it to (in this case at the top left corner) 
    until it runs in another sticky element and overlaps with it or until we scroll down
    to a new seperate non-sticky element
*/
.p-sticky .box {
    position: sticky;
    top: 0;
    left: 0
}