* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

figure {
    display: none;
    /* hides the picture */
}

.media {
    max-width: 20em;
    /* height: 10em; */
    background: #fff;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    /*  margin: calc(50vh - 5em) auto;
    vh - is 1% of the viewpoint height */
    position: absolute;
    top: 50%;
    left: 50%;
    /* 50% will be 50% of the width of the parent */
    transform: translate(-50%, -50%);
    /* this is put the center of our media element in the center of the parent element
    because before that the element was in the middle of the parent but not exactly, because the top left corner
    of the media element was centered, not the center of the media element itself, and now it is thanks
    to the transform property */
}